


    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player"></div>

    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '270',
          width: '480',
          videoId: 'zG-BWw__yos',
	  playerVars: { 'controls': 0, 'modestbranding': 1, 'disablekb': 1 },
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      var vids = {{ .Playlist }};

      // 4. The API will call this function when the video player is ready.

      function onPlayerReady(event) {
          event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      function onPlayerStateChange(event) {
        ////nextVID(event);
      }

      function nextVID(event) {
        if (
            event.data == YT.PlayerState.PLAYING ||
            event.data == YT.PlayerState.PAUSED ||
            event.data == YT.PlayerState.BUFFERING 
           ) {
          return
        }
        if (event.data == YT.PlayerState.CUED) {
          event.target.playVideo();
          return
        }

        // event.data == YT.PlayerState.ENDED or "unstarted (-1)"
        if (current < done &&
            event.data == YT.PlayerState.ENDED ) {
          event.target.cueVideoById({'videoId': vids[current].id,
                                      'startSeconds': vids[current].start,
                                      'endSeconds': vids[current].end});

          current++;
        }
      }

    </script>
